QLabel {
    max-height: 800px;
    height: auto;
    border-radius: 8px;
    border: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: #ffffff;
    border-color: blue;
    qproperty-alignment: 'AlignTop | AlignLeft';
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}