QPushButton {
    background-color: #32316d;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    border-color: #000000;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    position: inherit;
}

QPushButton::pressed {
    background-color: #e7e7e7;
    color: #ffffff;
}

QPushButton::hover {
    background-color: #e7e7e7;
    color: #ffffff;
}

QPushButton::placeholder {
    background-color: #32316d;
    color: #ffffff;
}